language: java
jdk:
- oraclejdk8
deploy:
  provider: releases
  api_key:
    secure: SVR/zC9jKz/zjlwflX5oPkjIS8DSEPQjHUYJd9KbbmMKlLlWeISBLH6XA1WANdt5bSQ7LvynV44FZX4sdv2WTqAnOR/YdcOJou5c92ZibQTstydmAbLDGCZXLJqeDrSRyOHcxuxtMR7ne1L0xrazwEEamYF/LPvycnoRUXz92fBjKCsiY9vjJ7djwCzsPnDz96/mxo0kcB17GnB3Xhn0d+WOnL6oC/9dBJlLuiXbStrkG7Iwh3ZNopPOwurLspwKs/y/1ofxYJL/kCCmGqundmQwHlRKM2GyqumVOVF3a3BHNfFQXFBC3H+kvtIkvPuWd0oA8LgiLnr9zaf7/im0X/96rd/cj9VAU3fOcqdiDxe3AtnYbmN7AuiAxwuZTkidHB7TjHNb1k2H2/xcl4p6IhmfNM6yFd72xHvMqM6GRTMpcLSiUkL0qU2ok6jvTUF9XGfw/XMzd3nRQdlTjU7UznCDo/GpkGC2gLNUif8ReLfK6Mv6R3qL+5zQs+n5IyjjVMQiUDC9LAt7MnUYLz+ueHkvUOpoY4UvGFNSofyIvvNacU9SKGgWwBRBEGo0LVkomQQ2dzPKFXYBNLHdbDPRoVwsseNMKZKyPpIJ4R97yrYZxhuytFkLnNAWfjsNAVVc/xHQHJmAt1IjWkVSEvKLbWJpe/t/UIdGXtH59y4MKas=
  skip_cleanup: true
  file:
    - "target/java-webserver-$TRAVIS_TAG.jar"
    - "target/java-webserver-$TRAVIS_TAG-javadoc.jar"
    - "target/java-webserver-$TRAVIS_TAG-sources.jar"
  on:
    repo: djessup/java-webserver
    tags: true
addons:
  sonarqube: true
env:
  global:
    - secure: "TggK+fj4YkrxpWP5owHhTCFWAmdHn9QIEhZfHZucAa9Gs3SezAZsgKAYDtiG1Nnd1KeswZkqB9JFQPyZ1Kd/cPbrSyFRQqBNXqdIAdTd4fesp/eF3CbOgiXV83UP50n+ybS4N+SFIJmPLSUJT+jpa4IuGtGIg+GHk5OpBtHLRYJeQrmeQ+3J2SyVdGjJnvP7+C59ZmRx44Uwgb7aLjROODKcxGpOsH//tAQ1b5DhUg0iUXzXZXGIdvMo4kzZeLJyTJFlXv4yUxjw5qx1V0rtfGgZ53n6mNW40krgbnKid/wk726463Lf/WE8ixinVkRa1ImrPFN8yKGK7LHj7D5EBTubmYbmHQTLdpznC2eSdUac1xCy9TS9D0/XqOLxIK9LSid7db0yeoPVbK7IKtD3/xtkeYIrp4aQIJdaAXwCgCklKLoQ0pcBRcU31dueHv3ynxGV1yH3W2N7jPbdw8hHVvKM0Y5pRpIj7JFDWMYOuSA93SPMW7IMI98AA0ZRUk0ReHf3DLDytEu0IA1G3mBS/gbUTxs+7W3P1Ef4OXaQCTgZNCm7f2ihCPdL8O/CrciAf3Ufk/cE1z8xdREqhWH5nAOJ9qMuCAMdncyG1SWIXuuQlPOP5uUPZ//nodFd7YzwQrCpolB8je0xSwi4GwzrR7sqGw8d2zpmF98b2M1bX4k="
script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsonar.login=$SONAR_TOKEN